<article>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      {{!-- <li class="active">
        <a href="#control-sidebar-home-tab" data-toggle="tab">
          <i class="fa fa-home"></i>
        </a>
      </li> --}}
      {{!-- <li>
        <a href="#control-sidebar-settings-tab" data-toggle="tab">
          <i class="fa fa-gears"></i>
        </a>
      </li> --}}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">跳转到监测页面</h3>
       
          <ul class="control-sidebar-menu">
          <li>
            {{#link-to "main.newjm" }} 
             <i class="menu-icon fa fa-arrow-right"></i>
              <div class="menu-info">
                <h4 class="control-sidebar-subheading">新建模型</h4>
                <p>监测设备时需要首先创建自己的模型</p>
              </div>
            {{/link-to}}
          </li>
           <li>
            {{#link-to "main.monitor" }} 
             <i class="menu-icon fa fa-arrow-right"></i>
              <div class="menu-info">
                <h4 class="control-sidebar-subheading">实时监测</h4>
                <p>勾选机组进行监测</p>
              </div>
            {{/link-to}}
          </li>
           <li>
            {{#link-to "main.modelerror" }} 
             <i class="menu-icon fa fa-arrow-right "></i>
              <div class="menu-info">
                <h4 class="control-sidebar-subheading">故障诊断</h4>
                <p>可以查看故障的详细信息</p>
              </div>
            {{/link-to}}
          </li>
           <li>
            {{#link-to "main.resultmodel" }} 
             <i class="menu-icon fa fa-arrow-right"></i>
              <div class="menu-info">
                <h4 class="control-sidebar-subheading">模型列表</h4>
                <p>你创建过的模型都在这里</p>
              </div>
            {{/link-to}}
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->
{{!-- 
        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul> --}}
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked="">
            </label>
            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
</article>