
<article>
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 811px;">
    <!-- 显示路径 -->
     {{liquid-outlet }}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</article>