
<article>
       <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO_3Q_m-DvG3jXRESsJYqfd6TLLZhi7VDpGnKVhfIMkXfFuTFcCg" class="img-circle"
            alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{username}}</p>
          <!-- Status -->
          <a href="#">
            <i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu tree" data-widget="tree" {{action 'reload' on='click'}} id='siderbar_menu'>
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li>
           {{#link-to "admin.configjz" }} 
            <i class="fa fa-briefcase"></i>
            <span>设备管理</span>
           {{/link-to}}
        </li>
        <li>
          {{#link-to "admin.configdb"}} 
           <i class="fa fa-database"></i>
            <span>数据库管理</span>
          {{/link-to}} 
        </li>
        <li class="treeview">
          {{#link-to "admin.configtable" }} 
            <i class="fa fa-columns"></i>
            <span>数据表管理</span>
            {{!-- <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span> --}}
          {{/link-to}}
         {{!--          
          <ul class="treeview-menu">
            <li>
              <a href="#">Link in level 2</a>
            </li>
            <li>
              <a href="#">Link in level 2</a>
            </li>
          </ul> --}}
        </li>
        <li>
          {{#link-to "admin.configfield"}} 
           <i class="fa fa-stack-exchange"></i>
            <span>变量管理</span>
          {{/link-to}} 
        </li>
        <li>
          {{#link-to "admin.configpart"}} 
           <i class="fa fa-archive"></i>
            <span>部件管理</span>
          {{/link-to}} 
        </li>
        <li>
          {{#link-to "admin.configmonitor"}} 
           <i class="fa fa-adn"></i>
            <span>监测模块</span>
          {{/link-to}} 
        </li>
         <li>
          {{#link-to "admin.configmethod"}} 
           <i class="fa fa-stop"></i>
            <span>建模算法</span>
          {{/link-to}} 
        </li>
         <li>
          {{#link-to "admin.configparam"}} 
           <i class="fa fa-delicious"></i>
            <span>建模算法参数</span>
          {{/link-to}} 
        </li>
        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-columns"></i>
            <span>其他设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
         
          <ul class="treeview-menu">
            <li>
               {{#link-to "admin.configuser"}} 
              <i class="fa fa-users"></i>
                <span>用户</span>
              {{/link-to}} 
            </li>
           
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</article>
