    <section class="content-header">
      <h1>
        {{title}}
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href={{url}}>
            <i class="fa fa-dashboard"></i>{{path1}}</a>
        </li>
        <li class="active">{{path2}}</li>
      </ol>
   </section>