@import "veriable";
@import "mixin";

$maxW:pxTorem(1920px);

html{
    font-size: $browser-default-font-size;
}
html,body{
   height: 100%;
}
// body{
//     max-width: pxTorem(1200px);
//     margin: 0 auto;
// }

body {
    font-size: 13px/1.7em ;
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    min-width: 500px;
}

.main-ris-table{
    min-width: 760px;
}

a{
    text-decoration: none !important;
}
p{
    margin: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

.clearfix{
    overflow:auto;
    _height:1%;
}

p{
        //  margin: 0 0 9px; 
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
     font-size: 16px; 
     line-height: 18px; 
       font: 16px/1.7em 'Open Sans'; 
}