<div class="raw">
  <div class="col-xs-12 col-md-12">
    <div class="main clearfix info-page" id="moerror" data-info="">
      <div class="main-r">
        <div class="main-r-item main-ri-ti">
          <div>
            <strong>报告时间:</strong> 2018年1月</div>
        </div>
        <br>
        <div class="main-r-item">
          <h2>1.运行统计结果</h2>
          <h3>23机组负荷分布信息统计表</h3>
          <div class="main-ris-tip  main-ris-table t4">
            <div class="main-ris-table-t it6">
              <div>序号</div>
              <div>负荷范围</div>
              <div>运行小时数</div>
              <div>发电量(kW·h)</div>
            </div>

            <div class="it6">
              <div>1</div>
              <div>&lt;45%Pr</div>
              <div>3</div>
              <div>1000</div>
            </div>

            <div class="it6">
              <div>2</div>
              <div>45.0%~55.0%Pr</div>
              <div>50</div>
              <div>10000</div>
            </div>

            <div class="it6">
              <div>3</div>
              <div>55.0%~65.0%Pr</div>
              <div>100</div>
              <div>25000</div>
            </div>

            <div class="it6">
              <div>4</div>
              <div>65.0%~75.0%Pr</div>
              <div>200</div>
              <div>55000</div>
            </div>

            <div class="it6">
              <div>5</div>
              <div>75.0%~85.0%Pr</div>
              <div>300</div>
              <div>123000</div>
            </div>

            <div class="it6">
              <div>6</div>
              <div>85.0%~95.0%Pr</div>
              <div>1000</div>
              <div>8992000</div>
            </div>

            <div class="it6">
              <div>7</div>
              <div>95%Pr~100%Pr</div>
              <div>100</div>
              <div>25000</div>
            </div>

            <div class="it6">
              <div>8</div>
              <div>&gt;100%Pr</div>
              <div>10</div>
              <div>3000</div>
            </div>


            <div class="it6 healop" style="font-weight: 600;color:#555">
              <div style="width:50% !important">健康运行</div>
              <div>1700</div>
              <div>9220000</div>
            </div>
            <div class="it6 no_healop" style="font-weight: 600;color:#555">
              <div style="width:50% !important">非健康运行</div>
              <div>13</div>
              <div>4000</div>
            </div>
          </div>


          <h3>发电量信息统计表</h3>
          <!-- <div class="main-ris-tip  main-ris-table t3">
                    <div class="main-ris-table-t it6">
                        
                        <div></div>
                        
                        <div>23#机组</div>
                        
                        <div>合计</div>
                        
                    </div>
                    <div class="it6">

                        
                        <div>发电量(kW.h)</div>
                        
                        <div>727500.0</div>
                        
                        <div>727500.0</div>
                        
                    </div>
                    <div class="it6">
                        
                        <div>非正常运行范围运行小时数</div>
                        
                        <div>0.0</div>
                        
                        <div>0.0</div>
                        
                    </div>
                </div> -->

          <div class="main-ris-tip  main-ris-table t3">
            <div class="main-ris-table-t it6">

              <div></div>

              <div>24#机组</div>

              <div>合计</div>

            </div>
            <div class="it6">


              <div>发电量(kW.h)</div>

              <div>9224000</div>

              <div>9224000</div>

            </div>
            <div class="it6">

              <div>非正常运行范围运行小时数</div>

              <div>13</div>

              <div>13</div>

            </div>
          </div>
          <p style="width:100%">
            <i class="icon iconfont icon-tag" style="color:red;font-size:24px"></i>
            结论：本电站在
            <em style="color:blue">2018年1月</em>共发电
            <em style="color:blue">9224000kW·h</em>,
            <em style="color:blue">24</em>机组在非正常运行范围内运行
            <em style="color:blue">13小时</em>，请注意观察机组在非正常运行范围内运行时的工作状态；
            <em style="color:blue">2018年1月</em>上游水位从
            <em style="color:blue">40m</em>变化到
            <em style="color:blue">45m</em>，下游水位从
            <em style="color:blue">25m</em>变化到
            <em style="color:blue">30m</em>。
          </p>

        </div>
        <br>

        <div class="main-r-item">
          <h2>2.超出个性化阈值统计分析结果</h2>


          <h3>23号机组超标变量统计表</h3>
          <div class="main-ris-tip  main-ris-table t6">
            <div class="main-ris-table-t it6">
              <div>序号</div>
              <div>时间</div>
              <div>参数名称</div>
              <div>实测值</div>
              <div>个性化阈值</div>
              <div>标准阈值</div>
            </div>

            <div class="it6">
              <div>1</div>
              <div>2017-07-12 00:01:23.799744 </div>
              <div>上导Y摆度峰峰值</div>
              <div>101.6</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>2</div>
              <div>2017-07-12 00:02:14.798464 </div>
              <div>上导Y摆度峰峰值</div>
              <div>101.9</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>3</div>
              <div>2017-07-12 00:05:04.599488 </div>
              <div>上导Y摆度峰峰值</div>
              <div>103.1</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>4</div>
              <div>2017-07-12 00:05:17.198976 </div>
              <div>上导Y摆度峰峰值</div>
              <div>101.2</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>5</div>
              <div>2017-07-12 00:08:45.599488 </div>
              <div>上导X摆度峰峰值</div>
              <div>122.5</div>
              <div>121</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>6</div>
              <div>2017-07-12 00:11:49.198976 </div>
              <div>上导Y摆度峰峰值</div>
              <div>101.5</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>7</div>
              <div>2017-07-12 00:12:59.598208 </div>
              <div>上导Y摆度峰峰值</div>
              <div>101.9</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>8</div>
              <div>2017-07-12 00:16:54.799744 </div>
              <div>上导Y摆度峰峰值</div>
              <div>110.4</div>
              <div>101</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>9</div>
              <div>2017-07-12 00:23:38.599488 </div>
              <div>上导X摆度峰峰值</div>
              <div>126.8</div>
              <div>121</div>
              <div>300</div>
            </div>

            <div class="it6">
              <div>10</div>
              <div>2017-07-12 00:24:36.399232 </div>
              <div>上导Y摆度峰峰值</div>
              <div>109.4</div>
              <div>101</div>
              <div>300</div>
            </div>
          </div>
          <p style="width:100%">
            <i class="icon iconfont icon-tag" style="color:red;font-size:24px"></i>
            结论：
            <em style="color:blue">上导X摆度</em>在
            <em style="color:blue">2018年1月14日12-15点</em>连续出现
            <em style="color:blue">2次</em>超标现象，请相关运维人员及时进行消缺；
            <br>
            <em style="color:blue;margin-left:75px">水导X摆度</em>在
            <em style="color:blue ">2018年1月14日18点</em>出现
            <em style="color:blue">1次</em>超标现象，并与负荷强相关，集中出现在
            <em style="color:blue">75%～85%Pr</em>负荷范围；
          </p>
        </div>
        <br>
        <div class="main-r-item">
          <h2>3.相关性统计分析结果</h2>
          <h3>23相关性异常信息统计表</h3>
          <div class="main-ris-tip  main-ris-table t7">
            <div class="main-ris-table-t it6">
              <div>序号</div>
              <div>机组序号</div>
              <div>时间</div>
              <div>参数1</div>
              <div>参数2</div>
              <div>个性化相关系数</div>
              <div>实际相关系数</div>
            </div>

            <div class="it6">
              <div>1</div>
              <div>23</div>
              <div>2017-07-12 00:00:06</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.25</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>2</div>
              <div>23</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.68</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>3</div>
              <div>23</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.26</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>4</div>
              <div>23</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.01</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>5</div>
              <div>23</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.30</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>6</div>
              <div>23</div>
              <div>2017-07-12 00:00:09.998720</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.02</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>7</div>
              <div>23</div>
              <div>2017-07-12 00:00:10.798464</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.04</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>8</div>
              <div>23</div>
              <div>2017-07-12 00:00:11.598208</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>-0.02</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>9</div>
              <div>23</div>
              <div>2017-07-12 00:00:15</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.14</div>
              <div>0.81</div>
              <div></div>
            </div>

            <div class="it6">
              <div>10</div>
              <div>23</div>
              <div>2017-07-12 00:00:15.799744</div>
              <div>励磁电流平均值</div>
              <div>无功功率平均值</div>
              <div>0.20</div>
              <div>0.81</div>
              <div></div>
            </div>
          </div>
          <p style="width:100%">
            <i class="icon iconfont icon-tag" style="color:red;font-size:24px"></i>
            结论：24机组
            <em style="color:blue">上导X摆度和水导Y摆度,水导X摆度和水导Y摆度</em>的相关性出现异常，请运行人员重点关注是否存在故障。 </p>

        </div>
        <br>
        <div class="main-r-item">
          <h2>4.趋势分析统计分析结果</h2>

          <h3>23号机组趋势分析异常信息统计表</h3>
          <div class="main-ris-tip  main-ris-table t5">
            <div class="main-ris-table-t it6">
              <div>序号</div>
              <div>参数名称</div>
              <div>出现时间</div>
              <div>负荷范围</div>
              <div>正常变化率</div>
              <div>计算变化率</div>
            </div>

            <div class="it6">
              <div>1</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.80e-04</div>
            </div>

            <div class="it6">
              <div>2</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.80e-04</div>
            </div>

            <div class="it6">
              <div>3</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.80e-04</div>
            </div>

            <div class="it6">
              <div>4</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.80e-04</div>
            </div>

            <div class="it6">
              <div>5</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.80e-04</div>
            </div>

            <div class="it6">
              <div>6</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.45e-05</div>
            </div>

            <div class="it6">
              <div>7</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.45e-05</div>
            </div>

            <div class="it6">
              <div>8</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.45e-05</div>
            </div>

            <div class="it6">
              <div>9</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.45e-05</div>
            </div>

            <div class="it6">
              <div>10</div>
              <div>有功功率平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.45e-05</div>
            </div>

            <div class="it6">
              <div>11</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>8.42e-04</div>
            </div>

            <div class="it6">
              <div>12</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>8.42e-04</div>
            </div>

            <div class="it6">
              <div>13</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>8.42e-04</div>
            </div>

            <div class="it6">
              <div>14</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>8.42e-04</div>
            </div>

            <div class="it6">
              <div>15</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>8.42e-04</div>
            </div>

            <div class="it6">
              <div>16</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.69e-04</div>
            </div>

            <div class="it6">
              <div>17</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.69e-04</div>
            </div>

            <div class="it6">
              <div>18</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.69e-04</div>
            </div>

            <div class="it6">
              <div>19</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.69e-04</div>
            </div>

            <div class="it6">
              <div>20</div>
              <div>励磁电流平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.69e-04</div>
            </div>

            <div class="it6">
              <div>21</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.43e-03</div>
            </div>

            <div class="it6">
              <div>22</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.43e-03</div>
            </div>

            <div class="it6">
              <div>23</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.43e-03</div>
            </div>

            <div class="it6">
              <div>24</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.43e-03</div>
            </div>

            <div class="it6">
              <div>25</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.43e-03</div>
            </div>

            <div class="it6">
              <div>26</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.88e-04</div>
            </div>

            <div class="it6">
              <div>27</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.88e-04</div>
            </div>

            <div class="it6">
              <div>28</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.88e-04</div>
            </div>

            <div class="it6">
              <div>29</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.88e-04</div>
            </div>

            <div class="it6">
              <div>30</div>
              <div>励磁电压平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.88e-04</div>
            </div>

            <div class="it6">
              <div>31</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.40e-04</div>
            </div>

            <div class="it6">
              <div>32</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.40e-04</div>
            </div>

            <div class="it6">
              <div>33</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.40e-04</div>
            </div>

            <div class="it6">
              <div>34</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.40e-04</div>
            </div>

            <div class="it6">
              <div>35</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>1.40e-04</div>
            </div>

            <div class="it6">
              <div>36</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.26e-05</div>
            </div>

            <div class="it6">
              <div>37</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.26e-05</div>
            </div>

            <div class="it6">
              <div>38</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.26e-05</div>
            </div>

            <div class="it6">
              <div>39</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.26e-05</div>
            </div>

            <div class="it6">
              <div>40</div>
              <div>无功功率平均值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.26e-05</div>
            </div>

            <div class="it6">
              <div>41</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.81e-05</div>
            </div>

            <div class="it6">
              <div>42</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.81e-05</div>
            </div>

            <div class="it6">
              <div>43</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.81e-05</div>
            </div>

            <div class="it6">
              <div>44</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.81e-05</div>
            </div>

            <div class="it6">
              <div>45</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>3.81e-05</div>
            </div>

            <div class="it6">
              <div>46</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>7.13e-06</div>
            </div>

            <div class="it6">
              <div>47</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>7.13e-06</div>
            </div>

            <div class="it6">
              <div>48</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>7.13e-06</div>
            </div>

            <div class="it6">
              <div>49</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>7.13e-06</div>
            </div>

            <div class="it6">
              <div>50</div>
              <div>上导X摆度峰峰值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>7.13e-06</div>
            </div>

            <div class="it6">
              <div>51</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.11e-05</div>
            </div>

            <div class="it6">
              <div>52</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.11e-05</div>
            </div>

            <div class="it6">
              <div>53</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.11e-05</div>
            </div>

            <div class="it6">
              <div>54</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.11e-05</div>
            </div>

            <div class="it6">
              <div>55</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>2.11e-05</div>
            </div>

            <div class="it6">
              <div>56</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:06</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>5.18e-06</div>
            </div>

            <div class="it6">
              <div>57</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:06.799744</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>5.18e-06</div>
            </div>

            <div class="it6">
              <div>58</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:07.599488</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>5.18e-06</div>
            </div>

            <div class="it6">
              <div>59</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:08.399232</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>5.18e-06</div>
            </div>

            <div class="it6">
              <div>60</div>
              <div>上导Y摆度峰峰值</div>
              <div>2017-07-12 00:00:09.198976</div>
              <div>85.0%~95.0%Pr</div>
              <div>0.0</div>
              <div>5.18e-06</div>
            </div>



          </div>

          <h3> 随负荷变化异常信息统计表</h3>
          <div class="main-ris-tip  main-ris-table t4">
            <div class="main-ris-table-t it6">
              <div>序号</div>
              <div>参数名称</div>

              <div>正常变化率</div>
              <div>计算变化率</div>

            </div>
            <div class="it6">
              <div>1</div>
              <div>水导X摆度</div>

              <div>0.05</div>
              <div>0.1</div>

            </div>
            <div class="it6">
              <div>2</div>
              <div>水导Y摆度</div>

              <div>0.001</div>
              <div>0.002</div>
            </div>
          </div>

          <h3>随转速（转速平方）变化异常信息统计表</h3>
          <div class="main-ris-tip  main-ris-table t4">
            <div class="main-ris-table-t it6">
              <div>序号</div>
              <div>参数名称</div>

              <div>正常变化率</div>
              <div>计算变化率</div>

            </div>
            <div class="it6">
              <div>1</div>
              <div>水导X摆度</div>

              <div>0.05</div>
              <div>0.1</div>

            </div>
            <div class="it6">
              <div>2</div>
              <div>水导Y摆度</div>

              <div>0.02</div>
              <div>0.01</div>
            </div>
          </div>

        </div>

        <br>
        <div class="main-r-item">
          <h2>5.全维度健康评估统计分析结果</h2>
          <h3>健康机组健康度评估统计表</h3>
          <div class="main-ris-tip  main-ris-table t5">
            <div class="main-ris-table-t it6">
              <div>机组号</div>
              <div>水轮机</div>
              <div>发电机</div>
              <div>辅助设备</div>
              <div>机组</div>

            </div>
            <div class="it6">
              <div>23机组</div>
              <div>89</div>
              <div>80</div>
              <div>90</div>
              <div>89</div>
            </div>

            <div class="it6">
              <div>25机组</div>
              <div>78</div>
              <div>87</div>
              <div>98</div>
              <div>90</div>
            </div>
            <div class="it6">
              <div>26机组</div>
              <div>80</div>
              <div>82</div>
              <div>97</div>
              <div>89</div>
            </div>

          </div>
          <h3>非健康机组健康度评估统计表</h3>
          <div class="main-ris-tip  main-ris-table t5">
            <div class="main-ris-table-t it6">
              <div>机组号</div>
              <div>水轮机</div>
              <div>发电机</div>
              <div>辅助设备</div>
              <div>机组</div>
            </div>
            <div class="it6">
              <div>24机组</div>
              <div>20</div>
              <div>56</div>
              <div>78</div>
              <div>50</div>
            </div>
          </div>

          <p style="width:100%">
            <i class="icon iconfont icon-tag" style="color:red;font-size:24px"></i>
            结论：
            <em style="color:blue">23、25、26</em>机组健康指数分别为
            <em style="color:blue">89、90、89</em>分，建议继续运行。
            <br>
            <em style="color:blue;margin-left:75px">24</em>机组健康指数为
            <em style="color:blue">50</em>分，正处于非健康状态，建议进行维修。
          </p>
        </div>
      </div>
    </div>

  </div>
</div>