<div class="wrapper hd-admin" style="height: auto; min-height: 100%;">
  {{#setting-main-header}}{{/setting-main-header}}
  {{#setting-main-sidebar}}{{/setting-main-sidebar}}
  {{#setting-main-wrapper}}{{/setting-main-wrapper}}
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright © 2017
      <a href="javascript:;">中国软件与技术服务股份有限公司.</a></strong>
  </footer>
  {{#setting-main-pane}}{{/setting-main-pane}}
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

