<div class="home-main raw">
  <div class="top-img col-xs-12 col-md-12">
    <h2>基于人工智能技术的高端装备预测性维修平台</h2>
    <img src="assets/images/top.jpg" alt="">
    <p>
      {{#link-to "admin.configjz" }} 配置页面 {{/link-to}} {{#link-to "main.newjm"}}监测页面 {{/link-to}}

    </p>
  </div>
  <div class="col-xs-12 col-md-12">

    {{!-- {{#liquid-if homel1 class='home-left'}} --}} {{!-- {{else}} {{/liquid-if}} --}} {{!-- {{#liquid-if homel2 class='home-left'}}
    --}}
    <section class="box">
      <div class="box-s">
        <div class="title">
          <h1>生态大数据系统</h1>
        </div>
        <div class="container1">
          <p>深度集成开源社区先进组件与工具，通过二次开发和全面测试使其功能更强大、性能更稳定；同时与业界知名厂商合作，真正打造生态大数据系统。</p>
          <img src="assets/images/product-dsl.png" alt="">
        </div>
      </div>
    </section>
    {{!-- {{else}} {{/liquid-if}} {{#liquid-if homel3 class='home-left'}} --}}
    <section class="box box-p">
      <div class="box-s">
        <div class="title">
          <h1>安全可靠</h1>
        </div>
        <div class="container1">
          <p>提供了一系列大数据安全的关键功能，包括身份验证、授权、审核和数据保护，帮助用户实现Hadoop部署的企业级安全级别；对存储在Hadoop上的数据和数据访问方式提供集中的安全管理界面，进行统一的安全策略制定和管理。

          </p>
          <img style='width:100%' src="assets/images/iconinfo.png" alt="">
        </div>
      </div>
    </section>

    {{!-- {{else}} {{/liquid-if}} --}} {{!-- {{#liquid-if homel4 class='home-left'}} --}}
    <section class="box">
      <div class="box-s">
        <div class="title">
          <h1>卓越的数据处理能力</h1>
        </div>
        <div class="container1">
          <p>以人工智能和大数据为基础，SSJC提供一系列数据处理引擎，使用户可以通过多种处理方式并行的进行数据交互，而无需为每个数据集或者应用建立独立的集群。企业级数据应用，有的需要数据批处理，有的需要数据交互SQL或者低延迟的NoSQL的数据访问方式，还有的应用服务需要搜索、实时流数据处理或者基于内存的分析服务。作为真正的企业级大数据平台，FSDP为企业用户提供了最广泛可能的数据访问方式，使得所有的服务能够共存在同一个物理集群中，避免了不必要的重复建设和浪费。</p>
          <img style='width:80%' src="assets/images/product-process.png" alt="">
        </div>
      </div>
    </section>
    {{!-- {{else}} {{/liquid-if}} --}}

    <section class="box box-p">
      <div class="box-s">
        <div class="title">
          <h1>高度集成</h1>
        </div>
        <div class="container1">
          <p>深度集成开源社区先进组件与工具，通过二次开发和全面测试使其功能更强大、性能更稳定；同时与业界知名厂商合作，真正打造生态大数据系统。</p>
          <img style='width:100%' src="assets/images/iconinfo2.png" alt="">
        </div>
      </div>
    </section>

    <section class="box ">
      <div class="box-s">
        <div class="title">
          <h1>强大的数据分析挖掘能力</h1>
        </div>
        <div class="container1">
          <p>企业数据最终要转换成有用的信息和价值推动企业的进步，数据分析和发掘是让数据产生价值的关键。FSDP能够使用户通过业界领先、强大和易用的商业智能开发工具和数据发掘和机器学习平台为企业用户的海量数据迅速产生价值铺平道路，通过FSDP的数据挖掘和机器学习库对大数据进行复杂算法的高速的分布式计算，使海量数据的数据挖掘和机器学习变得容易。</p>
          <img style='width:100%' src="assets/images/qiang.png" alt="">
        </div>
      </div>
    </section>
    <section class="box box-p">
      <div class="box-s">
        <div class="title">
          <h1>灵活管理</h1>
        </div>
        <div class="container1">
          <p>可以根据企业的需求提供多用户像各部门间资源分割或是共享的灵活策略，从而达到平台资源利用以及客户投资回报的最大化。</p>
          <img style='width:90%' src="assets/images/product-flexible.png" alt="">
        </div>
      </div>
    </section>
  </div>

</div>